.quote {
  box-sizing: border-box;
  padding: 120px 120px 60px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    @include text-description;
    max-width: 470px;
  }

  &__title {
    @include quote-title;
  }

  &__subtitle {
    @include quote-subtitle;
    margin-top: 6px;
  }

  &__image {
    max-width: 650px;
    width: 100%;
    object-fit: contain;
  }
}