.quote {
  box-sizing: border-box;
  width: 100%;
  padding: 120px 120px 60px 120px;
  display: flex;
  gap: 80px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    margin: 0;
    color: #151515;
    max-width: 470px;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  &__title {
    margin: 0;
    color: #151515;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  &__subtitle {
    margin: 0;
    margin-top: 6px;
    color: rgba(34, 34, 34, 0.7);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  &__image {
    max-width: 650px;
  }
}