.train {
  padding: 150px 120px 120px 120px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;

  @include ml {
    padding-top: 60px;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    @include ml {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__subtitle {
    margin-top: 50px;

    @include ml {
      margin: 0;
    }
  }

  &__list {
    margin: 0;
    margin-top: 182px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;

    @include ml {
      margin: 0;
    }
  }

  &__link {
    transition: .2s;
    @include text-link;
  }

  &__link:hover {
    opacity: 0.75;
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 580px;
    width: 100%;
    object-fit: contain;

    @include ml {
      position: initial;
    }
  }
}