.train {
  width: 100%;
  padding: 150px 120px 120px 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;

  &__subtitle {
    margin-top: 50px;
  }

  &__list {
    margin: 0;
    margin-top: 182px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
  }

  &__link {
    transition: .2s;
    @include text-link;
  }

  &__link:hover {
    opacity: 0.75;
  }

  &__image {
    max-width: 580px;
    width: 100%;
    object-fit: contain;
  }
}