.bicycle {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;

  &__wrapper-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: flex-end;
  }

  &__menu-link {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $color-main-text-noactive;
    transition: .2s;
    @include text-bike;

    &:hover{
      opacity: 0.6;
    }
    &_active {
      font-weight: 600;
      color: $color-main-text;
    }

    &_active:hover {
      opacity: 0.75;
    }
  }

  &__wrapper-card {
    display: flex;
    position: relative;
    height: 430px;
  }

  &__list-card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    position: absolute;
    transform: translateY(100%);
    transition: opacity .5s, transform .8s;
    opacity: 0;
    z-index: -1;

    &_active {
      transform: translateY(0);
      opacity: 1;
      z-index: auto;
    }
  }


  &__item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 22px;
  }

  &__link-card {
    padding: 20px;
    box-shadow: 0 20px 140px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    transition: transform .2s;
    background-color: #F4F4F4;
  }

  &__link-card:hover {
    transform: scale(1.1);
  }

  &__image {
    max-width: 340px;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &__name-card {
    @include text-bike;
  }
}