.info {
  width: 100%;
  padding: 80px 30px 0 120px;
  position: relative;
  box-sizing: border-box;
  height: 856px;
  display: flex;

  @include lg {
    height: auto;
    justify-content: center;
    padding-right: 120px;
  }
  
  @include md {
    padding: 40px 18px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include lg {
      gap: 40px;
    }
  }

  &__subtitle {
    margin-top: 50px;

    @include lg {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 50px;

    @include lg {
      margin-top: 0;
    }
  }

  &__name-bike {
    @include text;
    display: flex;
    margin-top: 167px;

    @include lg {
      display: none;
    }
  }

  &__name-bike::after {
    content: '';
    margin-left: 30px;
    width: 132px;
    height: 0;
    display: inline-block;
    align-self: center;
    border: 1px solid $color-br-focus;
  }

  &__card-link {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -20px 60px 220px 0px rgba(0, 0, 0, 0.44);
    background-color: #F4F4F4;
    border-radius: 20px;
    position: sticky;
    top: 347px;
    z-index: 1;
    transition: transform .2s;
  }

  &__card-link:hover {
    transform: scale(1.1);
  }

  &__card-wrapper {
    position: absolute;
    left: 630px;
    padding: 227px 0 79px 0;
    box-sizing: border-box;
    height: 777px;

    @include lg {
      left: auto;
    }
  }
  
  &__card-bike {
    max-width: 340px;
    width: 100%;
    aspect-ratio: 1.3/1;
  }

  &__image {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 610px;
    width: 100%;
    z-index: -1;

    @include lg {
      position: initial;
      align-self: center;
    }
  }
}