@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';
.page {
  max-width: 1440px;
  margin: auto;
  background-color: #F4F4F4;
  font-family: "Inter", sans-serif;
  color: #151515;
}

.section-title {
  margin: 0;
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -0.5px;
  max-width: 460px;
}

.section-subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #222222;
  opacity: 0.7;
  max-width: 460px;
}

.header {
  width: 100%;
  padding: 28px 120px;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F4F4F4;
}

.nav {
  display: flex;
  justify-content: end;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.nav__link {
  text-decoration: none;
  color: #151515;
  transition: 0.2s;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.nav__link:hover {
  opacity: 0.75;
}

.info {
  width: 100%;
  padding: 80px 0 0 120px;
  position: relative;
  box-sizing: border-box;
  height: 856px;
  display: flex;
}
.info__subtitle {
  margin-top: 50px;
}
.info__button {
  margin-top: 50px;
}
.info__name-bike {
  margin: 0;
  margin-top: 167px;
  color: #151515;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
}
.info__name-bike::after {
  content: "";
  margin-left: 30px;
  width: 132px;
  height: 0;
  display: inline-block;
  align-self: center;
  border: 1px solid #D7D4D4;
}
.info__card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 300px;
  box-shadow: -20px 60px 220px 0px rgba(0, 0, 0, 0.44);
  background-color: #F4F4F4;
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 347px;
  z-index: 1;
}
.info__card-wrapper {
  padding: 267px 0 79px 0;
}
.info__card-bike {
  background: url("../../images/info-card-bike.png") center center/cover no-repeat;
  box-sizing: border-box;
  width: 340px;
  height: 260px;
}
.info__image {
  position: absolute;
  top: 20px;
  right: 0;
  max-width: 610px;
  z-index: -1;
}

.button {
  padding: 16px 10px;
  width: 180px;
  color: white;
  background-image: linear-gradient(90deg, #319E75 50%, #24B47E 50%);
  background-position: 100%;
  background-size: 200%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background-position: 0;
}

.quote {
  box-sizing: border-box;
  padding: 120px 120px 60px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote__description {
  margin: 0;
  color: #151515;
  max-width: 470px;
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.quote__title {
  margin: 0;
  color: #151515;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}
.quote__subtitle {
  margin: 0;
  margin-top: 6px;
  color: rgba(34, 34, 34, 0.7);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.quote__image {
  max-width: 650px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gradient-road {
  width: 100%;
  padding: 60px 0 60px 120px;
  box-sizing: border-box;
  overflow: hidden;
}
.gradient-road__subtitle {
  margin-top: 50px;
}
.gradient-road__wrapper {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  position: relative;
}
.gradient-road__icon {
  width: 100px;
  height: 40px;
  background: url(../../images/icons/gradient-road-highway.svg) center center/contain no-repeat;
  position: absolute;
  left: 0;
  bottom: 16px;
}
.gradient-road__image {
  max-width: 650px;
  aspect-ratio: 1.625/1;
}
.gradient-road__buttons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.gradient-road__button {
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(235, 235, 235) url(../../images/icons/button-back.svg) center no-repeat;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.gradient-road__button:hover {
  opacity: 0.6;
}
.gradient-road__button_right {
  transform: rotate(180deg);
}

.bicycle {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.bicycle__wrapper-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bicycle__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.bicycle__menu-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.7);
  transition: 0.2s;
}
.bicycle__menu-link_active {
  color: rgb(21, 21, 21);
}
.bicycle__menu-link_active:hover {
  opacity: 0.75;
}
.bicycle__menu-link:hover {
  opacity: 0.6;
}
.bicycle__list-card {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
.bicycle__item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 22px;
}
.bicycle__link-card {
  padding: 20px;
  box-shadow: 0 20px 140px 0px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.bicycle__image {
  max-width: 340px;
  width: 100%;
  aspect-ratio: 1/1;
}
.bicycle__name-card {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #151515;
}

.train {
  width: 100%;
  padding: 150px 120px 120px 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.train__subtitle {
  margin-top: 50px;
}
.train__list {
  margin: 0;
  margin-top: 182px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}
.train__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.2s;
  color: #151515;
}
.train__link:hover {
  opacity: 0.75;
}
.train__image {
  max-width: 580px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding: 80px 120px 60px 120px;
  box-sizing: border-box;
  background-color: #EFEFEF;
}
.footer__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 229px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 19.59px;
  font-weight: 600;
  color: #CFCFCF;
}

.switch-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.switch {
  position: relative;
  width: 44px;
  height: 24px;
}
.switch__input {
  display: none;
}
.switch__slider {
  cursor: pointer;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}
.switch__slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #24B47E;
  transition: 0.4s;
  border-radius: 50%;
}
.switch__slider_active {
  background-color: #545454;
}
.switch__slider_active::before {
  transform: translateX(20px);
}/*# sourceMappingURL=index.css.map */