.footer {
  padding: 80px 120px 60px 120px;
  box-sizing: border-box;
  background-color: $color-bg-footer;

  @include md {
    padding: 60px 18px 16px 18px;
  }

  &__title {
    @include text-footer;
    margin-bottom: 50px;
    max-width: 229px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  &__copyright {
    @include text-copyright;

    @include md {
      font-weight: 500;
    }
  }

  &__logo {
    position: absolute;
    display: none;
    bottom: 0;
    right: -2px;
    width: 38px;
    height: 38px;
    
    @include md {
      display: block;
    }
  }

  &__switcher {
    @include md {
      visibility: hidden;
    }
  }

}